/online-store.web/target/
/online-store.web/.classpath
/online-store.web/.project
/online-store.web/.settings/

/online-store.persistence/target/
/online-store.persistence/.classpath
/online-store.persistence/.project
/online-store.persistence/.settings/

/online-store.core/target/
/online-store.core/.classpath
/online-store.core/.project
/online-store.core/.settings/

target/
.classpath
.project
.settings/