<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>com.magicbaits.web.listeners.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.magicbaits.web.listeners.exceptions.DriverCleanUpListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>GetProductsByCategory</servlet-name>
		<display-name>GetProductsByCategory</display-name>
		<description></description>
		<servlet-class>com.magicbaits.web.controllers.GetProductsByCategory</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProduct</servlet-name>
		<display-name>GetProduct</display-name>
		<description></description>
		<servlet-class>com.magicbaits.web.controllers.GetProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProductsByCategory</servlet-name>
		<url-pattern>/GetProductsByCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProduct</servlet-name>
		<url-pattern>/GetProduct</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
        <welcome-file>homepage.html</welcome-file> 
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler</location>
    </error-page>
</web-app>
